<h1>Twatter!</h1>

<p>Hi <%= @user.name %>,</p>

<p>
No need to thank us, you are welcome for letting you join Twatter! Click on the link below to activate your account.. or don't.. whatever
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>