Hi <%= @user.name %>,

No need to thank us, you are Welcome for letting you join Twatter! Click on the link below to activate your account.. or don't.. whatever

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>