<% provide(:title, 'All users') %>
<h1>All users</h1>

<!--TODO: search bar for users, alphabetize -->
<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</ul>

<%= will_paginate %>