<footer class="footer">
  <small>
    Twatter</a>
    - Daniel Cole</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.reddit.com/">News</a></li>
    </ul>
  </nav>
</footer>